* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 500px;
  margin: auto auto;
}

img {
  width: 0;
  visibility: hidden;
}

h1,
p {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
}

.url {
  width: 60%;
}

.id,
.status {
  width: 20%;
}

th,
td {
  padding-left: 2%;
}

td {
  height: 1.5em;
  background-color: lightgray ;
}

th {
  height: 1.5em;
  background-color: lightblue;
  text-align: left;
}

.reachable td {
  background-color: lightgreen;
}

.unreachable td {
  background-color: lightcoral;
}

